# Supabase Configuration
VITE_SUPABASE_URL=https://wsueekkqtmykiqltxprc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndzdWVla2txdG15a2lxbHR4cHJjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5NjkwMDksImV4cCI6MjA5MDU0NTAwOX0.ZBWtio0Q8fpP42b2cv6t330eXDDbl9DRFvcD6h5RzFc

# File Server Configuration (On-prem video streaming)
VITE_FILE_SERVER_URL=http://localhost:4000
VITE_SUPABASE_SERVICE_ROLE_KEY=ur keyhere